@charset "utf-8";

#wrap {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #000;
	> header {
		> h1 {
		} //end of h1
		> nav {
			position: relative;
			width: 480px;
			margin: 0 auto;
			border: 1px solid #000;
			> ul {
				display: flex;
				> li {
					> a {
						display: block;
					} //end of a
				} //end of li
			} //end of ul
		} //end of nav
	} //end of header
	> .content-box {
		position: relative;
		> .content-img {
			display: flex;
			> figure {
				display: block;
				margin: 0;
				border: 1px solid #000;
			} //end of figure
		} //end of content-img
		> .slide-nav {
			display: flex;
			> li {
				> a {
					display: block;
				}
			}
		} //end of slide-nav
	} //end of content-box
} //end of #wrap
